# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/vuejs,vue,visualstudiocode,linux,soliditytruffle
# Edit at https://www.gitignore.io/?templates=vuejs,vue,visualstudiocode,linux,soliditytruffle

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### SolidityTruffle ###
# depedencies
node_modules

# testing
coverage

# production
build
build_webpack

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader
.vagrant/**
blockchain/geth/**
blockchain/keystore/**
blockchain/history


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Vue ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

bower_components

*.sublime*

psd
thumb
sketch

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
yarn-error.log

# End of https://www.gitignore.io/api/vuejs,vue,visualstudiocode,linux,soliditytruffle

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

.secret